body, span, input {
    font-size: 25px;
}

input {
    outline: none;
    border: 1px solid f000;
    border-radius: 10px;
}

button {
    font-size: 20px;
    background: #fff;
    margin: 5px;
    border-radius: 50%;
    cursor: pointer;
}
