@import "./_reset";
@import "./_variables";
@import "./_mixins";

.page-header__nav {
   padding: 45px 0;

   @include phones {
      padding: 30px 0;
   }
}

.burger {
   background-color: #000;
   width: 44px;
   height: 44px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   display: none;
   margin-left: auto;
   transition: 0.3s;
   -webkit-transition: 0.3s;
   -moz-transition: 0.3s;
   -ms-transition: 0.3s;
   -o-transition: 0.3s;

   &__line {
      background-color: #fff;
      width: 17px;
      height: 2px;
   }

   &:nth-child(1),
   &:nth-child(2) {
      margin-bottom: 2px;
   }

   @include xlphones {
      display: flex;
   }
}

.burger__line {
   background-color: #fff;
   width: 17px;
   height: 2px;

}

.burger__line:nth-child(1),
.burger__line:nth-child(2) {
   margin-bottom: 2px;
}


.burger__line.active:nth-child(2) {
   opacity: 0;
}

.burger__line.active:nth-child(1) {
   transform: translateY(4px) rotate(-45deg);
   -webkit-transform: translateY(4px) rotate(-45deg);
   -moz-transform: translateY(4px) rotate(-45deg);
   -ms-transform: translateY(4px) rotate(-45deg);
   -o-transform: translateY(4px) rotate(-45deg);
}

.burger__line.active:nth-child(3) {
   transform: translatey(-4px) rotate(45deg);
   -webkit-transform: translatey(-4px) rotate(45deg);
   -moz-transform: translatey(-4px) rotate(45deg);
   -ms-transform: translatey(-4px) rotate(45deg);
   -o-transform: translatey(-4px) rotate(45deg);
}

.container {
   max-width: 1200px;
   padding: 0 15px;
   margin: 0 auto;


}

.page-header {
   margin-bottom: 66px;

   @include phones {

      margin-bottom: 34px;
   }
}

.page-header__menu {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;

   @include xlphones {
      display: none;
   }
}




.menu__item {
   &:not(:last-child) {
      margin-right: 68px;

      @include laptop {
         margin-right: 34px;
      }

      @include tablets {
         margin-right: 20px;

      }

      @include phones {
         margin-right: 0px;

      }



   }
}

.menu__link {
   display: block;
   font-weight: 400;
   font-size: 11px;
   line-height: 22px;
   letter-spacing: 1.1px;
   text-transform: uppercase;
   color: $dark-gray;


   &:hover {
      color: #57A4A4;
   }
}



.page-header__menu.active {
   display: block;
   position: absolute;
   right: 15px;


   .menu__link {
      background-color: #F5F5F5;
      padding: 5px 80px 5px 10px;
      margin-right: 0px;

      &:hover {
         background-color: #E5E5E5;
      }
   }
}